<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c8dcf">  <td>21/09/20 22:53:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassImplementingRetryAnalyser.intentionallyFailingTest()[pri:0, instance:Selenium1.ClassImplementingRetryAnalyser@68c72235]">intentionallyFailingTest</td> 
  <td>main@556281560</td>   <td></td> </tr>
<tr bgcolor="8c8dcf">  <td>21/09/20 22:53:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassImplementingRetryAnalyser.intentionallyFailingTest()[pri:0, instance:Selenium1.ClassImplementingRetryAnalyser@68c72235]">intentionallyFailingTest</td> 
  <td>main@556281560</td>   <td></td> </tr>
</table>
